
<div class="container">

    <br />
    <br />
    <f:form action="search"  name="search" object="{newMediaItem}" class="form-inline" style="width:100%;" >
            <div class="form-group">
                <f:form.textfield property="sword" type="search" class="form-control" placeholder="Suchbegriff eingeben" required="1" />
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
    </f:form>

    <br />
    <hr />
</div>


